.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formError {
    border: 2px solid red;
    color: red;
    padding: 15px;
}